<h1> <div>
      <a class="text-light" href="/login"> Login</a><br>
    </div><br>
    
    <div>
      <a class="text-light" href="/signup"> signup</a><br>
    </div><br>
</h1>

<div class="container">
<img src="https://github.com/anisssoudki/just-a-logo/blob/master/Screenshot%20(27).png?raw=true">
</div>