<form action="/login" method="post">
  <div class="form-group">
    <label class="btn btn-primary for="exampleInputEmail">Email -->  </label>
    <input type="email" name="email" value="" aria-describedby="emailHelp" placeholder="Enter email">
    <h3 id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</h3>
  </div>
  <div class="form-group">
    <label class="btn btn-primary for="exampleInputPassword1">Password</label>
    <input type="password" name="password" value=""  placeholder="Password">
  </div>
 
  
  <button type="submit" class="btn btn-primary">Submit  :)</button><br><br>
  
</form>
<div class="container">
<a  class="btn btn-primary" href="/">Back</a><br><br>
<a  class="btn btn-primary" href="/signup">Signup Here</a>
</div>