

<h1 class="text-white">Video Name</h1>
<form action="/videos" method="post">
 <input type="text" name="name" value="" placeholder="Video Name"><br>

 <h1 class="text-white">Right click on any youtube video copy embeded code and paste below to upload</h1><br>
 <input type="text" name="link">
  <input type="submit">
</form>